/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: rgb(238,202,197);
    background: linear-gradient(0deg, rgba(238,202,197,1) 0%, rgba(254,236,238,1) 35%, rgba(255,240,241,1) 81%, rgba(250,245,245,1) 100%);
}
.admin-button-container{
  position: relative;
  cursor: pointer;
    color: white;
    font-weight: bold;
    background: rgb(185,66,59);
    background: linear-gradient(270deg, rgba(185,66,59,1) 0%, rgba(199,81,75,1) 35%, rgba(220,108,101,1) 81%, rgba(228,116,110,1) 100%);
    box-shadow: 1px 10px 20px -12px #413f3f;;
    -webkit-box-shadow: 1px 10px 20px -12px #413f3f;;
    -moz-box-shadow: 1px 10px 20px -12px #413f3f;;
    left: 70%;
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    width: 65px;
    margin: 15px 0;
}


.dash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.welcome {
  align-self: flex-start;
  font-size: 25px;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #413f3f;
}

.logout-btn {
  margin-top: 15px;
  font-size: 16px;
  border-radius: 10px;
  align-self: flex-start;
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
  padding: 4px 12px;
  border: none;
  background-color: #413f3f;
  transition: all 0.2s ease-in-out;
}

.logout-link {
  color: white;
  text-decoration: none;
}

.logout-btn:hover {
  outline: 2px solid #413f3f;
  outline-offset: 3px;
}

.logo1 {
  width: 175px;
  transform: translateY(-40px);
}

.main-dash {
  color: #413f3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Kanit', sans-serif;
}

.main-dash-content {
  display: flex;
}

.money-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background-color: #f5eaeaf4;
  width: 400px;
  padding: 50px 25px;
  border-radius: 10px;
  box-shadow: 1px 10px 20px -12px #413f3f;;
  -webkit-box-shadow: 1px 10px 20px -12px #413f3f;;
  -moz-box-shadow: 1px 10px 20px -12px #413f3f;;
}

.balance {
  font-size: 50px;
  letter-spacing: 2px;
  color: #b33d35;
  transform: translateY(-30px);
}

.money-footer {
  display: flex;
  justify-content: space-between;
}

.acct-number, .money-footer {
  transform: translateY(40px);
}

.action-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f5eaeaf4;
  padding: 18px 20px;
  width: 170px;
  border-radius: 10px;
  box-shadow: 1px 10px 20px -12px rgba(0,0,0,0.64);
  -webkit-box-shadow: 1px 10px 20px -12px rgba(0,0,0,0.64);
  -moz-box-shadow: 1px 10px 20px -12px rgba(0,0,0,0.64);
  position: relative;
  cursor: pointer;
}

.action-logo {
  color: white;
  background: #413f3f;
  height: 22px;
  width: 22px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 5px;
}

.action-name {
  font-weight: bolder;
}

.action-symbol {
  position: absolute;
  top: 10px;
  right: 50px;
}

.deposit, .send-money {
  margin-bottom: 10px;
}

.deposit, .withdraw {
  margin-right: 10px;
}

.footer {
  font-family: 'Kanit', sans-serif;
  position: fixed;
  bottom: 0;
  left: 25%;
  right: 25%;
  text-align: center;
  margin-bottom: 10px;
}
