  .sponsor{
    position: absolute;
    color: rgb(247, 124, 84);
    font-size: 140%;
    left: 45%;
    bottom: 60%;
    cursor: pointer;
  }
  
  .thatsnew{
    position: absolute;
    color: rgb(247, 124, 84);
    font-size: 140%;
    left: 70%;
    bottom: 60%;
    cursor: pointer;
  }
  
  .contact{
    position: absolute;
    color:rgb(247, 124, 84);
    font-size: 140%;
    left: 12%;
    bottom: 60%;
    cursor: pointer;
  }
  .met{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 12%;
    bottom: 55%;
    cursor: pointer;
  
  }
  .ves{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 12%;
    bottom: 45%;
    cursor: pointer;
  }
  .hoof{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 12%;
    bottom: 50%;
    cursor: pointer;
  }
  .geg{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 12%;
    bottom: 40%;
    cursor: pointer;
  }
  .voor{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 12%;
    bottom: 35%;
    cursor: pointer;
  }
  .klan{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 12%;
    bottom: 30%;
    cursor: pointer;
  }
  
  .wings{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 49%;
    bottom: 80%;
    cursor: pointer;
  }
  .pasta{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 49%;
    bottom: 75%;
    cursor: pointer;
  }
  .dessert{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 49%;
    bottom: 70%;
    cursor: pointer;
  }
  .sw{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 49%;
    bottom: 65%;
    cursor: pointer;
  }
  .cooldrinks{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 49.1%;
    bottom: 60%;
    cursor: pointer;
  }
  .csb{
    position: absolute;
    color: rgb(247, 124, 84);
    font-size: 140%;
    left: 55%;
    bottom: 60%;
    cursor: pointer;
  }
  .thickburger{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 50%;
    bottom: 75%;
    cursor: pointer;
  }
  .mcdonald{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 50%;
    bottom: 70%;
    cursor: pointer;
  }
  .crazy{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 50%;
    bottom: 65%;
    cursor: pointer;
  }
  .kfc{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 50%;
    bottom: 60%;
    cursor: pointer;
  }
  .fries{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 55%;
    bottom: 55%;
    cursor: pointer;
  }
  .baked{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 82.1%;
    bottom: 80%;
    cursor: pointer;
  }
  .cookies{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 82.1%;
    bottom: 75%;
    cursor: pointer;
  }
  .tea{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 82.1%;
    bottom: 70%;
    cursor: pointer;
  }
  .pie{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 82.1%;
    bottom: 65%;
    cursor: pointer;
  }
  .macchitato{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 82.1%;
    bottom: 60%;
    cursor: pointer;
  }
  .gravy{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 82.2%;
    bottom: 55%;
    cursor: pointer;
  }
  .sun{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 30%;
    bottom: 80%;
    cursor: pointer;
  }
  .vijay{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 30%;
    bottom: 75%;
    cursor: pointer;
  }
  .tesla{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 30%;
    bottom: 70%;
    cursor: pointer;
  }
  .chennai{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 30%;
    bottom: 65%;
    cursor: pointer;
  }
  .poorvika{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 30%;
    bottom: 60%;
    cursor: pointer;
  }
  .munima{
    position: absolute;
    color: darksalmon;
    font-size: 100%;
    left: 30%;
    bottom: 55%;
    cursor: pointer;
  }
  .overmad{
    position: absolute;
    font-size: 140%;
    left: 42%;
    bottom: 20%;
    cursor: pointer;
  }
  .fb{
    position: absolute;
    height: 7%;
    top: 83%;
    left: 43%;
  }
  .insta{
    position: absolute;
    height: 7%;
    top: 83%;
    left: 33%;
  }
  .whatsapp{
    position: absolute;
    height: 7%;
    top: 83%;
    left: 53%;
  }
  .mail{
    position: absolute;
    height: 7%;
    top: 83%;
    left: 63%;
  }.download{
    position: absolute;
    height: 10%;
    top: 60%;
    left: 15%;
  }
  .mac{
    position: absolute;
    height: 10%;
    top: 60%;
    left: 25%;
  }
  .oline1{
    position: absolute;
    height: 2%;
    width: 88%;
    bottom: 50%;
    left: 7%;
  }
  .rights{
    position: absolute;
    width: 100%;
    bottom:-15%;
    left: -2%;
    text-align: center;
    color: rgb(247, 124, 84);
    font-size: 100%;
  }
  .item {
    width: 320px;
    border: 4px solid #ccc;
    padding:10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .imglis {
    width: 100%;
    height: auto;
  }
  
  h3 {
    margin-top: 10px;
  }
  
  .price{
    font-weight: bold;
  }
  .quotes1{
    position: absolute;
    left: 5%;
    width: 30%;
    top: 280%;
    
  }
  #style{
    font-family: 'Times New Roman', Times, serif;
    font-size: 310%;
    opacity: 65%;
  }
  .quotes2{
    position: absolute;
    bottom: -20%;
    height: 125%;
    width: 200%;
    left: 110%;
  }
  .main{
    display: flex;
    flex-wrap: wrap; 
    justify-content:center; 
    align-items:center;
  }