.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-input {
    font-size: 16px;
    padding: 5px 10px;
    font-family: 'Kanit', sans-serif;
    width: 300px;
}

.modal-btns-container {
    margin-top: 15px;
}

.modal-btns {
    cursor: pointer;
    margin-left: 8px;
    font-family: 'Kanit', sans-serif;
    padding: 4px 12px;
    border: none;
    background-color: #605e5e;
    color: white;
    transition: all 0.3s ease-in-out;
}

.modal-btns:hover {
    background-color: #413f3f;
}

.send-form {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.send-select, .send-input {
    font-family: 'Kanit', sans-serif;
    padding: 5px;
}

.send-modal h2{
    font-family: 'Kanit', sans-serif;
    margin-bottom: 5px;
}

.budget-form {
    font-family: 'Kanit', sans-serif;
}

.budget-input {
    font-family: 'Kanit', sans-serif;
    margin: 5px 2px 0px;
    padding: 5px;
}
